body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #eef2f7;
}

.wrapper {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.container {
    background: #fff;
    padding: 25px;
    width: 600px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 12px #000;
}

h1 {
    margin-top: 0;
}

.lead {
    color: #555
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 20px;
}

.full {
    grid-column: span 2;
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

input, select, textarea {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.radio-group label {
    margin-right: 18px;
}

.checkbox {
    display: flex;
    align-items: center;
}

.form-action {
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 10px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    border:none;
}

.primary {
    background: #2563eb;
    color: white;
}

.secondary {
    background: #ddd;
}

.required {
    color: red;
}

@media (max--width: 600px) {
    .form-grid {
        grid-template-columns: 1fr;
    }
}